* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
}

.bg-images {
  background-repeat: no-repeat;
  background-size: cover;
}

.demo-1 {
  background-image: url("../images/coffee-cup-desk-pen.jpg");
}
.demo-2 {
  background-image: url("../images/hands-coffee-smartphone-technology.jpg");
}
.demo-3 {
  background-image: url("../images/people-woman-coffee-meeting.jpg");
}
.demo-4 {
  background-image: url("../images/pexels-photo-57690.jpeg");
}
.demo-5 {
  background-image: url("../images/pexels-photo.jpg");
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax-base {
  transform: translateZ(0);
}
.parallax-back {
  transform: translateZ(-1px) scale(2);
  overflow: hidden;
}

.content {
  font-size: 200%;
  color: #fff;
  text-align: center;
}
